body,
html {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
ul {
  list-style: none;
  padding-left: 5px;
}
ul li {
  margin-bottom: 10px;
}
.inner-ul {
  margin-left: 10px;
}
#membros ul,
#discografia ul,
#premios ul {
  list-style: disc;
  margin-left: 15px;
}
footer ul li {
  display: inline;
  margin-left: 30px;
}
footer img {
  float: left;
  margin: 10px;
}
a {
  color: blue;
  text-decoration: none;
}
hr {
  border: solid 1px #cdcdcd;
}
.bar {
  background-color: #f9f9fb;
  padding: 15px;
  border-top: solid 1px #cdcdcd;
  border-bottom: solid 1px #cdcdcd;
}
.content {
  max-width: 1440px;
  margin: auto;
  grid-gap: 3rem;
  display: grid;
  gap: 3rem;
  grid-template-areas: 'sidebar main anchors';
  grid-template-columns: minmax(0, 15rem) minmax(0, 2.5fr) minmax(0, 15rem);
  padding-left: 1rem;
  padding-right: 1rem;
}
.sidebar {
  border-right: solid 1px #cdcdcd;
  padding-left: 20px;
}
.anchors {
  border-left: solid 1px #cdcdcd;
  padding-left: 20px;
}
footer {
  min-height: 100px;
  border-top: solid 1px #cdcdcd;
}
figure {
  text-align: center;
}
figcaption {
  margin: 10px;
}
blockquote {
  border-left: solid grey 2px;
  padding-left: 5px;
}
table {
  border: 1px solid grey;
  margin: 0 auto;
}
table th,
td {
  border: 1px solid grey;
  text-align: center;
  padding: 15px;
}
iframe {
  margin: 0 auto;
  display: block;
}
